html,body{height: 100%;}
body{background:url(../images/background.jpg);font-family: 'Nova Round', cursive;}

a:hover{text-decoration:none !important;}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
    color:
}

#header{margin:5% 0 3% 0}

#header h1{
  font-size: 70px;
  line-height: 1;
  letter-spacing: -1px;
   color:#808080;
}

#header h1 small, pre h1{
  font-size: 40px;
  padding:2%;
  color:#99cccc;
  text-align:center;
}


.g-font-2{font-family: 'Grand Hotel', cursive;}


#content {color:#555555;padding-left:5%;margin-bottom:3% }
#content strong,strong{color:#ff9933}
#content  em{text-decoration:underline;font-style:normal}


#content-bottom{background:#1c1811}

#right-part{background:#d4d7fe}


#push{height: 100px;}

#footer {height: 100px;text-align:center}


.img-circle {
-webkit-border-radius: 500px;
-moz-border-radius: 500px;
border-radius: 500px;
border: 5px solid #B0B0B0;
}

/**/
.web-icons{padding:5px;}

.web-icons img { opacity:0.7; vertical-align:top; }


