<p>&nbsp;&nbsp;&nbsp;Hi there !
                        I'm <a href="javascript:void(0);" class="menu-nav" title="profile" >Roel M. Dingle</a>,</p>
                        <p>a <strong>Filipino</strong> Web Developer </p>
                        <p>based in <strong>Manila</strong> .</p>
                        <p>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" class="menu-nav" title="works" >I create</a> dynamic and highly efficient <strong>Websites</strong> and Web Based <strong>Systems</strong>.</p>
                        <br />
                        <p>&nbsp;&nbsp;&nbsp;Happy to <a href="javascript:void(0);" class="menu-nav" title="services">help</a> or <strong>assist</strong>.</p>