<p><a href="#">About Me</a></p>
<hr />
<div class="row-fluid" >
	<div class="span2" style="text-align:right;" >
		<img src="images/happy.png" class="img-polaroid">
	</div>
	<div class="span10" >
		<h1><strong>Happiness</strong></h1>
		<p style="font-size:14px">
			&nbsp;&nbsp;Spending time with my family,
			Providing and caring for my family,
			Cuddling with my wife,
			Hugging my daughters,
			Drinking sessions with closes friends,
			Waking up in the morning and be thankful...
		</p>
	</div>
</div>

<div class="row-fluid" >
	<div class="span2" style="text-align:right;" >
		<img src="images/love.png" class="img-polaroid">
	</div>
	<div class="span10" >
		<h1><strong>Passions</strong></h1>
		<p style="font-size:14px">
			&nbsp;&nbsp;Coding sensible sytems,
			Programming applications,
			Designing sites,
			Taking one for the team,
			Finishing missions,
			Achieving goals...
		</p>
	</div>
</div>

<div class="row-fluid" >
	<div class="span2" style="text-align:right;" >
		<img src="images/choosen.png" class="img-polaroid">
	</div>
	<div class="span10" >
		<h1><strong>Admirations</strong></h1>
		<p style="font-size:14px">
			&nbsp;&nbsp;I admire thoose who purses and achieved...
			<br />
			Bill gates,
			Steve Jobs,
			John Resig,
			Tim Berners-Lee,
			James Gosling,
			Rasmus Lerdorf,
			Larry Page,
			Sergey Brin,
			Mark Zuckerberg,
			Douglas Crockford,
			Margarita Dingle...
		</p>
	</div>
</div>

<div class="row-fluid" >
	<div class="span2" style="text-align:right;" >
		<img src="images/game.png" class="img-polaroid">
	</div>
	<div class="span10" >
		<h1><strong>Entertainments</strong></h1>
		<p style="font-size:14px">
			&nbsp;&nbsp;I get so hyped about...
			<br />
			Walking Dead(TV),
			Game of thrones(TV),
			Sandwich(music),
			Metal Gear(game),
			Silent Hill(game),
			NBA(sport),
			Blur(music),
			Fatal framer(game),
			NBA Live(game),
			Breaking bad(TV),
			Nickelback(music),
			NFL(sport),
			NFS(game),
			CABAL(game),
			DOTA(game),
			Dexter(TV),
			Eraserheads(music)...
		</p>
	</div>
</div>


<div class="span10 back"><a href="javascript:void(0);" class="menu-nav" title="index" > <h2>&#171;Back</h2></a></div>